<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
<script src="/static/app/scripts/jquery-1.10.2.js"></script>
<title>ANALYZE IMAGE FILE</title>
<style media="screen">
#nowLoading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
 
#innerMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  z-index:100;
  background: url("/static/app/img/38_cycle_forty_24.gif") center center no-repeat;
}
</style>
</head>
<body>
    <h3>analyze image file</h3>
    <div>
        <button type="button" id="search-btn" style="float:left;margin-right:10px">search</button>
    </div>
    <div style="clear:both">
        <form id="search-file" method="POST" enctype="multipart/form-data">
            <div id="drop-zone" style="text-align: center;width:40%;float:left;border: 1px solid; ">
                <p> drag and drop image file </p>
                <div class="left-column" id="preview"></div>
                <input type="file" name="file" id="file-input" style="display:none" >
            </div>
        </form>
    </div>
    <div style="clear:both">
        <label>simmilarity</label><input id="similarity1" type="text" value="" style="width:100px;border:0px" readonly/>
        <div>
        <img id="result1" border="0" src="" style="display:none" />
        </div>
        <label>simmilarity</label><input id="similarity2" type="text" value="" style="width:100px;border:0px" readonly/>
        <div>
        <img id="result2" border="0" src="" style="display:none" />
        </div>
        <label>simmilarity</label><input id="similarity3" type="text" value="" style="width:100px;border:0px" readonly/>
        <div>
        <img id="result3" border="0" src="" style="display:none" />
        </div>

    </div>
<script type="text/javascript">

    var dropZone = document.getElementById('drop-zone');
    var preview = document.getElementById('preview');
    var fileInput = document.getElementById('file-input');

    dragAndDropFile(dropZone, fileInput, preview);

    function dragAndDropFile(dropZone,fileInput,preview) {
        dropZone.addEventListener('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
            this.style.background = '#e1e7f0';
        }, false);

        dropZone.addEventListener('dragleave', function (e) {
            e.stopPropagation();
            e.preventDefault();
            this.style.background = '#ffffff';
        }, false);

        fileInput.addEventListener('change', function () {
            previewFile(this.files[0],preview);
        });

        dropZone.addEventListener('drop', function (e) {
            e.stopPropagation();
            e.preventDefault();
            this.style.background = '#ffffff';
            var files = e.dataTransfer.files;
            if (files.length > 1) return alert('only one file for upload');
            fileInput.files = files;
            previewFile(files[0],preview);
        }, false);
    }

    function previewFile(file,preview) {
        var fr = new FileReader();
        fr.readAsDataURL(file);
        fr.onload = function() {
            var img = document.createElement('img');
            img.setAttribute('src', fr.result);
            preview.innerHTML = '';
            preview.appendChild(img);
        };
    }
</script>
<script>
    function ajaxPost(url, results, form_data) {

        dispLoading("processing....");

        $.ajax({
                type: 'POST',
                url: url,
                data: form_data,
                dataType:'text',
                contentType: false,
                cache: false,
                processData: false,
                timeout: 30000,
                async: true
        }).done((data, textStatus, jqXHR) => {
            results(data);

        }).fail((jqXHR, textStatus, errorThrown) => {
            alert("API error " + textStatus);
        }).always(function (data) {
            removeLoading();
        });
    }

    function setImage(imgid,simid,image,similarity) {
        $(imgid).attr("src", './download/' + image);
        $(imgid).show();

        $(simid).val(similarity);
    }



    function resultSet(data) {
        let jsonObj = JSON.parse(data);

        for (i = 0; i < jsonObj.length; i++) {

            var obj = jsonObj[i];
            var image = jsonObj[i].file;
            var similarity = jsonObj[i].similarity;
            if (i == 0) {
                setImage("#result1","#similarity1",image,similarity);
            } 
            if (i == 1) {
                setImage("#result2","#similarity2",image,similarity);
            }
            if (i == 2) {
                setImage("#result3", "#similarity3", image,similarity);
            }
        }  
    }


    $(function () {
        $('#search-btn').click(function () {
            var form_data = new FormData($('#search-file')[0]);
            var url = '/file_upload/getSimilarImage'; 

            ajaxPost(url,resultSet,form_data);
        });
    });
</script>
<script>
function dispLoading(msg){
    if (msg === undefined) {
        msg = "";
    }
    var innerMsg = "<div id='innerMsg'>" + msg + "</div>";  
  
    if($("#nowLoading").length == 0){
        $("body").append("<div id='nowLoading'>" + innerMsg + "</div>");
    }
}
 
function removeLoading(){
    $("#nowLoading").remove();
}
</script>
</body >
</html>