<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
<script src="{{ STATIC_URL }}app/scripts/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>ANALYZE IMAGE FILE</title>
<style media="screen">
#nowLoading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
 
#innerMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  z-index:100;
  background: url("/static/app/img/38_cycle_forty_24.gif") center center no-repeat;
}
</style>
</head>
<body>
    <h3>analyze image file</h3>
    <div>
        <button type="button" id="compare-btn" style="float:left;margin-right:10px">compare</button>
        <div style="float:left">similarity: </div><div id="similarity" style="float:left"></div>
    </div>
    <div style="clear:both">
        <form id="upload-file" method="POST" enctype="multipart/form-data">
            <div>
             <select id="analyze_model" name="analyze_model">
                <option value="resnet18">resnet 18</option>
                <option value="resnet50">resnet 50</option>
            </select>
            </div>
            <div id="drop-zone" style="text-align: center;width:40%;float:left;border: 1px solid; ">
                <p> drag and drop image file </p>
                <div class="left-column" id="preview"></div>
                <input type="file" name="file" id="file-input" style="display:none">
            </div>
            <div id="drop-zone2" style="text-align: center;width:40%;float:left;border: 1px solid; ">
                <p> drag and drop image file </p>
                <div class="left-column" id="preview2"></div>
                <input type="file" name="file" id="file-input2" style="display:none">
            </div>
        </form>
    </div>
    <div style="clear:both">
        <div id="result1" style="width:40%;float:left">
        </div>
        <div id="result2" style="width:40%;float:left">
        </div>
    </div>
<script type="text/javascript">

    var dropZone = document.getElementById('drop-zone');
    var preview = document.getElementById('preview');
    var fileInput = document.getElementById('file-input');


    dragAndDropFile(dropZone, fileInput, preview);

    var dropZone2 = document.getElementById('drop-zone2');
    var preview2 = document.getElementById('preview2');
    var fileInput2 = document.getElementById('file-input2');

    dragAndDropFile(dropZone2, fileInput2, preview2);


    function dragAndDropFile(dropZone,fileInput,preview) {
        dropZone.addEventListener('dragover', function (e) {
            e.stopPropagation();
            e.preventDefault();
            this.style.background = '#e1e7f0';
        }, false);

        dropZone.addEventListener('dragleave', function (e) {
            e.stopPropagation();
            e.preventDefault();
            this.style.background = '#ffffff';
        }, false);

        fileInput.addEventListener('change', function () {
            previewFile(this.files[0],preview);
        });

        dropZone.addEventListener('drop', function (e) {
            e.stopPropagation();
            e.preventDefault();
            this.style.background = '#ffffff';
            var files = e.dataTransfer.files;
            if (files.length > 1) return alert('only one file for upload');
            fileInput.files = files;
            previewFile(files[0],preview);
        }, false);
    }

    function previewFile(file,preview) {
        var fr = new FileReader();
        fr.readAsDataURL(file);
        fr.onload = function() {
            var img = document.createElement('img');
            img.setAttribute('src', fr.result);
            preview.innerHTML = '';
            preview.appendChild(img);
            $("#similarity").html("");
        };
        uploadFiles();
    }
</script>
<script>
    function ajaxPost(url, results, form_data) {

        dispLoading("processing....");

        $.ajax({
                type: 'POST',
                url: url,
                data: form_data,
                dataType:'text',
                contentType: false,
                cache: false,
                processData: false,
                async: true
        }).done((data, textStatus, jqXHR) => {
            results(data);

        }).fail((jqXHR, textStatus, errorThrown) => {
            alert("API error " + textStatus);
        }).always(function (data) {
            removeLoading();
        });
    }

    function similaritySet(data) {
        $("#similarity").html(data);
    }

    function resultSet(data) {
        let jsonObj = JSON.parse(data);
        for (i = 0; i < jsonObj.length; i++) {
            let parentId = "result1"; 
            if (i==1) {
                parentId = "result2";
            } 

            obj = jsonObj[i];
            let parentDiv = document.getElementById(parentId);
            parentDiv.innerHTML="";
            for (let key in obj) {
                let newElement = document.createElement("div");
                let newContent = document.createTextNode(key + ":" + obj[key]);
                newElement.appendChild(newContent);
                parentDiv.appendChild(newElement);
                    // console.log('key:' + key + ' value:' + obj[key]);
            }
        }  
    }

    function uploadFiles() {
        var form_data = new FormData($('#upload-file')[0]);
        var url = '/file_upload/rekognition'; 
        // var results = '#result';

        ajaxPost(url,resultSet,form_data);
    }

    $(function () {
        $('#compare-btn').click(function () {
            var form_data = new FormData($('#upload-file')[0]);
            var url = '/file_upload/compare'; 
            // var results = '#similarity';

            ajaxPost(url,similaritySet,form_data);
        });
    });
</script>
<script>
function dispLoading(msg){
    if (msg === undefined) {
        msg = "";
    }
    var innerMsg = "<div id='innerMsg'>" + msg + "</div>";  
  
    if($("#nowLoading").length == 0){
        $("body").append("<div id='nowLoading'>" + innerMsg + "</div>");
    }
}
 
function removeLoading(){
    $("#nowLoading").remove();
}
</script>
</body >
</html>